<app-header></app-header>
<router-outlet></router-outlet>
<!--
<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>

<app-data-binding></app-data-binding>
<app-string-interpolation></app-string-interpolation>
<app-event-binding></app-event-binding>

<h1>@Input</h1>
<app-hello [name]="title" [jsonVal]="json"></app-hello>

<h1> @Output </h1>

<app-counter-actions (counterChange)="onCounterChange($event)"></app-counter-actions> 
<p>Current value of the counter is <span [class]="classToSet"> {{ counter }}</span></p>

<app-two-way-binding [(counter)]="counter"></app-two-way-binding> -->
<app-footer></app-footer>